html, body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

button {
    border: none;
    background-color: rgb(211, 137, 72);
}

.orange-bc {
    background-color: rgb(211, 137, 72);
}

.gray-bc {
    background-color: rgb(75, 77, 88);
}

.font-orange {
    color: rgb(211, 137, 72);
}

.font-gray {
    color: rgb(75, 77, 88);
}

@media screen and (max-width: 850px) {
    
}