#events > div {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(75, 77, 88);
    transition: 0.3s;
    box-shadow: 0 0 2px 3px rgba(39, 40, 46, 0.658);
}

.swim-static {
    right: 0%;
    z-index: 50;
}

.swim-right {
    right: -90%;
    z-index: 50;
}

#events-header {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 15px;
    height: 60px;
    width: 100%;
    text-align: right;
    font-weight: bold;
}

#events-header div{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    height: 100%;
    padding-top: 2px;
}

#events-header div p {
    width: 100%;
    font-size: 0.8em;
}

#events-header h1{
    width: 60%;
    height: 100%;
    margin-left: 5px;
    font-size: 2.0em;
    letter-spacing: 0.15em;
    text-align: left;
}

#events-container {
    margin: 50px auto 0 auto;
    width: 70%;
}

#events-container > div {
    height: 70px;
    width: 100%;
    margin: 30px 0;
    overflow: hidden;
    border-radius: 4px;
    border: 5px solid rgb(75, 77, 88);
    box-shadow:
        -2px -2px 8px hsl(231, 8%, 62%),
        2px 2px 8px hsl(231, 8%, 2%);
}

#events-container > div > div {
    display: flex;
    border-radius: 4px;
    height: 25px;
    text-align: right;
    padding: 5px 10px 0 0;
    box-sizing: border-box;
}

#events-container > div > div > p {
    border-radius: 4px;
    height: 25px;
    width: 100%;
    text-align: right;
    box-sizing: border-box;
    color: rgb(75, 77, 88);
}

#events-container > div > p {
    height: 45px;
    padding: 15px 10px 0 0;
    box-sizing: border-box;
    color: rgb(211, 137, 72);
    font-weight: bold;
    font-size: 1.2em;
    text-align: right;
}

#event-creator {
    box-sizing: border-box;
    padding: 25px 45px 25px 15px;
    z-index: 25;
}

#event-creator > form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#event-creator div {
    width: 75%;
}

#importance-picker {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px;
}

#importance-picker > div {
    width: 100%;
    display: flex;
    margin-right: 10px;
    justify-content: space-evenly;
}

#importance-picker > div > span {
    cursor: pointer;
}

#importance-picker > div > span:hover {
    transform: scale(1.2);
}

.selected-importance {
    border: solid 5px rgb(211, 137, 72);
    margin-top: -5px;
}

#importance-picker h3 {
    width: 100%;
    font-weight: bold;
    letter-spacing: 0.15em;
    margin: 15px;
    text-align: center;
}

form input {
    width: 75%;
    height: 30px;
    background-color: rgba(75, 77, 88, 0.486);
    margin: 15px 0;
    padding: 2px 5px;
    border: none;
    font-weight: bold;
    font-size: 1.05em;
    color: rgb(211, 137, 72);
    border-bottom: solid 4px rgb(211, 137, 72);
    box-shadow: none;
}

.input-error {
    background-color: rgba(150, 63, 63, 0.795);
}

.importance-indicator {
    margin-left: 10px;
    display: block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    box-shadow: 0 0 6px 1px rgba(75, 77, 88, 0.486);
}

.none-importance {
    display: none;
}

.low-importance {
    background-color: #75FF70;
}

.medium-importance {
    background-color: #ffea70;
}

.high-importance {
    background-color: #FF7070;
}

@media screen and (max-width: 850px){
    #events-header {
        position: fixed;
        box-shadow: 0 2px 4px 0 rgba(46, 47, 54, 0.644);
    }

    #events-container {
        margin-top: 75px;
    }
}