#months-list-container {
    width: 100%;
    text-align: center;
    font-size: 1em;
}

#months-list-container ul {
    margin: 10px 50px;
}

#months-list-container .active {
    transform: scale(1.02);
    box-shadow: 
        inset -2px -2px 2px 1px hsl(231, 8%, 52%),
        inset 2px 2px 2px 1px hsl(231, 8%, 22%);
}

#months-list-container li {
    border-radius: 3px;
    margin-top: 15px;
    padding: 5px;
    cursor: pointer;
    box-shadow: 
        -2px -2px 4px 1px hsl(231, 8%, 52%),
        2px 2px 4px 1px hsl(231, 8%, 22%);
}

#months-list-container li:hover {
    transform: scale(1.02);
    box-shadow: 
        inset -2px -2px 2px 1px hsl(231, 8%, 52%),
        inset 2px 2px 2px 1px hsl(231, 8%, 22%);
}