#year-selector {
    display: flex;
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

#year-selector img {
    height: 40px;
}

.arrow-container div {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 
        -2px -2px 6px 2px hsl(231, 8%, 54%),
        2px 2px 6px 2px hsl(231, 8%, 10%);
    margin: auto;
    transition: 0.2s;
    cursor: pointer;
}

.arrow-container div:hover {
    transform: scale(1.1);
    box-shadow: 
    -2px -2px 8px 1px hsl(231, 8%, 54%),
    2px 2px 8px 1px hsl(231, 8%, 10%);
}

.arrow-container {
    width: 30%;
}

#year {
    width: 40%;
}

#year p {
    margin: 5px auto auto auto;
    text-align: center;
    font-size: 2em;
}